body {
  background: #bdc;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #333
}

a:hover {
  color: #111
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  margin: 5em;
  max-width: 45em;
}

h1, h2 {
  font-family: 'Fondamento', serif;
  font-weight: 800;
  color: #630;
}

.main p {
  font-size: 17px;
  line-height: 1.5;
}

li {
  list-style-type: square;
  padding: 0.3em;
}

#intro {
  margin: 0 10%;
}

.contents p {
  text-align: center;
}

.contents a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fondamento', serif;
}

.contents a::before {
  display: block;
  content: ">>";
  padding-right: 1em;
  margin: 0;
}

.contents a::after {
  display: block;
  content: "<<";
  padding-left: 1em;
  margin: 0;
}

code {
  font-family: "CourierPrimeRegular", monospace;
  font-size: 90%;
  color: #431;
}

#footer {
  margin: 0 10%;
  padding-top: 3em;
  opacity: 50%;
  text-align: center;
  line-height: 1.75;
  font-size: 80%;
}

/* Notes */

.note_wrapper {
  float: right;
  position: relative;
  z-index: 200;
}

.empty {
  position: absolute;
  left: 1em;
  padding: 0 0.5em;
  border-radius: 0.5em;
  font-weight: bold;
  margin-top: -0.5em;
}
.empty::after {
  content: "!";
  font-family: 'courgette', serif;
  font-size: 125%;
  font-weight: 300;
}

.empty, .note {
  border: 0.1em solid black;
  background: #fec;
}

.note {
  display: none;
  position: absolute;
  text-align: justify;
  font-weight: normal;
  top: -1em;
  right: -6em;
  width: 20em;
  font-size: 80%;
  padding: 0.8em;
  border-radius: 1em;

}

.note_wrapper:hover .note {
  display: inline;
}

/* Collapsible Sections */

.collapse {
  background: #ec9;
  margin-bottom: 2em;
  padding: 1em 1.5em;
  border-radius: 2em;
  position: relative;
  left: 5%;
}

.collapse input {
  display: none;
}

.collapse label {
  cursor: pointer;
}

.collapse label::after {
  content: "(click to expand!)";
  white-space: nowrap;
  color: #554;
  font-family: 'courgette', serif;
  font-size: 70%;
  padding-left: 3em;
  top: 0.2em;
}

input:checked ~ h2 label::after {
  opacity: 0.3;
}

input ~ .collapse_inner {
  display: none;
}

input:checked ~ .collapse_inner {
  display: block;
  margin-bottom: -1em;
}

/* Fonts */

@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(/fonts/courgette.ttf) format('truetype');
}

@font-face {
  font-family: 'Fondamento';
  font-style: italic;
  font-weight: 400;
  src: local('Fondamento-Italic'), url(/fonts/fondamento-italic.ttf) format('truetype');
}

@font-face {
  font-family: 'CourierPrimeRegular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/CourierPrimeRegular.ttf') format('truetype');
}
