<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quit Sending Me Your Private Keys</title>
    <link rel="stylesheet" href="/stylesheet.css">

    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
  </head>
  <body>
    <div class="main">
      <%= yield %>
    </div>
    <div id="footer">
      Disclaimer: I am not a security expert, just a sysadmin trying to bring enlightenment to users.
      Descriptions of security mechanisms are approximate and subject to implementation flaws.
      Consult your doctor before choosing a cryptographic protocol.
      You can make this page suck less by sending me a merge request on <a href="https://gitlab.com/ezrast/quitsending">GitLab</a>.
    </div>
  </body>
</html>
